@media screen and (min-width: 1050px) {
    main {
        display: grid;
        grid-template-areas: "p1 p2 p3";
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .p1 {
        grid-area: p1;
    }
    .p2 {
        grid-area: p2;
    }
    .p3 {
        grid-area: p3;
    }
    .p3 h4 {
        padding-left: 0;
    }
    .p3 a {
        padding-left: 0;
    }
    } 