@media (min-width: 800px){
    nav ul {
        display: flex;
        flex-direction: row;
    }

    .menu-icon {
        display: none;
    }
      
    .menu-items {
        display: flex;
    }
    
    nav ul li a {
        font-size: 1.3rem;
    }

}