@media screen and (max-width: 500px) {
    :root {
        --header: #3B1F2B;
        --nav-normal: #AF9164;
        --nav-highlight: #8B2635;
        --accent-green: #254D32;
        --accent-lilac: #B48EAE;
    }
    .flex {
        display: flex;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
      }
      
      .menu-icon-bar1, .menu-icon-bar2, .menu-icon-bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .menu-icon-bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .menu-icon-bar2 {opacity: 0;}
      
      .change .menu-icon-bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }

    .menu-items {
        display: none;
    }
    /* Styles for mobile menu when active */
    .menu-items.active {
        display: block;
    }
    nav ul {
        padding-inline-start: 0px;
        background-color: var(--header);
    }
    
    nav ul li {
        list-style: none;
        width: 100%;
        text-align: center;
    }
    
    nav ul li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: .5rem;
    }
    
    nav ul li a:hover {
        background-color: var(--nav-highlight);
    }
    
    
}