body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 200px 0 200px;
}
header {
    background-color: pink;
    padding: 25px 50px;
    border-radius: 25px;
    display: flex;
    box-shadow: 5px 5px 10px hotpink;
}

header h1 {
    margin: 70px 10px 0 50px;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 5px hotpink;
}
header img {
    width: 40%;
    box-shadow: 5px 5px 10px hotpink;
}
.content {
    text-align: left;
    padding: 25px;
}
ul {
    list-style-type: circle;
    font-size: 22px;
  }

.one {
    background-color: pink;
    color: hotpink;
}
.two {
    background-color: hotpink;
    color: pink;
}
li a {
    color: white;
}
h2 {
    text-shadow: 5px 5px 5px hotpink;
    font-weight: bolder;
    border-bottom: 5px dotted hotpink;
}
p {
    border-top: 5px dotted hotpink;
}
footer {
    background-color: pink;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hotpink;
    text-align: center;
}
h4 {
    text-shadow: 5px 5px 4px hotpink;
}