/* Stuff that effects the whole page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --header: #3B1F2B;
    --nav-normal: #AF9164;
    --nav-highlight: #8B2635;
    --accent-lilac: #B48EAE;
    --accent-lilac-rgb: 180, 142, 174;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
/* end */
/* header */
header, footer {
    background-color: var(--header);
    padding-bottom: 10px;
}
.header {
    display: flex;
    flex-direction: row;
}
.branding {
    font-size: .6rem;
    color: white;
    margin: auto 0;
}
nav ul li {
    list-style: none;
    width: 100%;
    text-align: left;
}
.header-logo {
    width: 25%;
}
.socials {
    max-width: 150px;
    display: flex;
    margin: 15px;
}
.face-image{
    height: 32px;
    width: 35px;
    margin: auto 2px;
}
.link-image{
    height: 31px;
    width: 35px;
    margin: auto 2px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--nav-normal);
    padding: .5rem;
    text-align: center;
}
nav ul li a:hover {
    background-color: var(--nav-highlight);
    padding: 10px;
    border-radius: 25px;
}
#navbar li.active a {
    font-weight: 800;
}
/* hamburger menu stuff */
#navbar {
    display: none;
}
.links {
    display: none;
}
#navbar.active {
    display: flex;
    flex-direction: column;
    background-color: #3B1F2B;
    color: white;
}
#menu-open {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-open.active {
    display: none;
}
#menu-close {
    display: none;
}
#menu-close.active {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-button {
    display: flex;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: var(--nav-highlight);
    border: none;
    color: white;
}

/* end */
.todaysdate {
    color: white;
    background-color: var(--nav-highlight);
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 1rem;
}
#meet-greet {
    display: none;
}
#meet-greet.active {
    display: block;
    background-color: var(--nav-normal);
    text-align: center;
    margin: 20px;
    padding: .7rem;
    font-size: 1.2rem;
    color: var(--header);
}
main section {
    background-color: rgba(var(--accent-lilac-rgb), 0.5);
    padding: 5px;
    margin: 5px;
}
main hr {
    width: 100%;
}
.hero {
    padding: 0;
    position: relative;    
}
.heroimage {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
.hero-title {
    position: absolute;
    top: 5%;
	right: 50%;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    color: var(--header);
}
.hero-join-button {
    position: absolute;
    top: 75%;
	right: 8%;
	background: var(--nav-highlight);
    font-weight: bolder;
    color: white;
    border-radius: 25px;
	border: 1px solid rgba(0,0,0,.1);
	padding: .8rem;
    box-shadow: 5px 5px 5px #3B1F2B;
}
.hero-join-button:hover {
    box-shadow: 0 0 10px var(--header);
    font-size: 1.1rem;
}
.event {
    text-align: center;
}
.event-description {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.newrelease {
    text-align: center;
    padding: 25px;
}
/* weather */
.weather-content {
    margin: 10px;
    text-align: center;
}
.weather-text {
    display: flex;
}
.weather-text p {
    padding-left: 5px;
    padding-right: 5px;
}
figure {
    margin: 0;
}
/* end */
.spotlight3 {
    display: none;
}
.spotlight1, .spotlight2 {
    border-width: 1px;
    border-style: double;
    border-color: var(--header);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 5px var(--header);
    padding: 20px;
}
.spotlightbox img {
    width: 60%;
}
.spotlight1-info, .spotlight1-info-2, 
.spotlight2-info, .spotlight2-info-2,
.spotlight3-info, .spotlight3-info-2
{
    padding: 5px;
    margin: 0;
}
.spotlight1-info-2 a, 
.spotlight2-info-2 a,
.spotlight3-info-2 a 
{
    text-decoration: none;
    color: black;
}
.join {
    display: none;
}
footer {
    color: white;
    text-align: center;
}
footer div {
    max-width: 100%;
    margin: 0 auto;
}
footer h3 {
    margin: 0;
}
footer p {
    margin: 0;
    padding: 5px;
}
.location {
    text-decoration: none;
    color: white;
}
.loc-icon {
    width: 15px;
}
.site {
    text-decoration: none;
    color: white;
}
/* discover page css */
.last-visit {
    background-color: var(--header);
    padding: .5%;
    text-align: center;
    color: var(--nav-normal);
}
.last-visit h1 {
    color: white;
}
.last-visit h2 {
    font-weight: 400;
}
.discover-main {
    margin: 2%;
}
.discover-image {
    display: block;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.bold {
    font-weight: 700;
}
/* join page */
label{
    display: block;
}
input{
    display: block;
    padding: .5rem;
    margin-bottom: 1rem;
}
textarea{
    display: block;
    min-width: 0;
}
label{
    margin-top: .5rem;
}
.radio-btn{
    display: inline;
    margin: 0px 5px 0px 0px;            
}
.join-main{
    display: block;
}
.join-form, .benefits{
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    width: 50%;
    min-width: 300px;
}
.join-submit{
    font-size: 1.5rem;
    background: var(--nav-highlight);
    font-weight: bolder;
    color: white;
    border-radius: 25px;
	border: 1px solid rgba(0,0,0,.1);
	padding: .9rem;
    margin: 1rem;
    box-shadow: 5px 5px 5px #3B1F2B;
}
.join-submit:hover {
    box-shadow: 0 0 10px var(--header);
    font-size: 1.6rem;
}
.mbrlvl {
    font-size: 1.5rem;
}
/* thank you page */
.thankyou-main {
    background-image: url(../images/discover/smaller-back.png);
    background-repeat: repeat;
}
.thankyou-msg {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--header);
    font-size: 2rem;
}
/* directory page */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.directory-main {
    background-color: white;
}
.cards section {
    margin: 10px;
    text-align: center;
    padding: 5px;
}
.cards section:hover {
    box-shadow: 0 0 20px #3B1F2B;
    border-radius: 15px;
}
.cards h3 {
    font-weight: 400;
    font-size: 1rem;
}
.cards a {
    color: #8B2635;
    font-weight: 400;
    font-size: 1rem;
}
.grid section img {
    max-width: 400px;
}
.gold {
    border: 5px solid goldenrod;
}
.directory-menu {
    margin: 1rem auto;
	padding: 1rem;
	text-align: center;
}
.directory-menu button {
	padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
	font-weight: 700;
    background-color: var(--nav-highlight);
    border: none;
    color: white;
    margin: .2rem;
    border-radius: 25px;
}
.directory-menu button:hover {
    box-shadow: 0 0 10px var(--header);
    font-size: 1.1rem;
}
/* discover list format */
.list {
	display: flex;
	flex-direction: column;
    margin: 10px;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0.8rem;
    text-align: left;
}

.list section > * {
	margin: 0 .5rem;

}
.list section img {
	display: none;
}
.list section h2 {
    font-size: 1.1rem;
}

.list section h3 {
	font-size: .9rem;
}

.list section:nth-child(even) {
	background-color: white;
}
.list .gold {
    border:none;
}
.list a {
    color: #8B2635;
    font-weight: 400;
    font-size: .9rem;
}
/* contact us page */
.contact-main {
    padding: .8rem;
}
.contact-msg {
    padding-top: 15px;
}
.contact-img {
    width: 100%;
}
.contact-info {
    text-align: center;
}
.contact-form {
    padding: 2rem;
}
.contact-submit{
    font-size: 1.5rem;
    background: var(--nav-highlight);
    font-weight: bolder;
    color: white;
    border-radius: 25px;
	border: 1px solid rgba(0,0,0,.1);
	padding: .7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
    box-shadow: 5px 5px 5px #3B1F2B;
}
.contact-submit:hover {
    box-shadow: 0 0 10px var(--header);
    font-size: 1.6rem;
}
.contact-img3 {
    width: 300px;
    padding: 20px;
}
.contact-form input, textarea {
    width: 100%;
}
.contact-send-msg {
    text-align: center;
}
.thankyou-msg1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--header);
    font-size: 3rem;
}
.thankyou-msg2 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--header);
    font-size: 1.5rem;
}