/* Stuff that effects the whole page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --header: #3B1F2B;
    --nav-normal: #AF9164;
    --nav-highlight: #8B2635;
    --accent-green: #254D32;
    --accent-lilac: #B48EAE;
    --accent-lilac-rgb: 180, 142, 174;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
/* end */
/* header */
header, footer {
    background-color: var(--header);
    padding-bottom: 10px;
}
.header {
    display: flex;
    flex-direction: row;
}
.branding {
    font-size: .6rem;
    color: white;
    margin: auto 0;
}
nav ul li {
    list-style: none;
    width: 100%;
    text-align: left;
}
.header-logo {
    width: 25%;
}
.socials {
    max-width: 150px;
    display: flex;
    margin: 15px;
}
.face-image{
    height: 35px;
    width: 35px;
    margin: auto 2px;
}
.link-image{
    height: 31px;
    width: 35px;
    margin: auto 2px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--nav-normal);
    padding: .5rem;
}
nav ul li a:hover {
    background-color: var(--nav-highlight);
}
/* hamburger menu stuff */
#navbar {
    display: none;
}
.links {
    display: none;
}
#navbar.active {
    display: flex;
    flex-direction: column;
    background-color: #3B1F2B;
    color: white;
}
#menu-open {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-open.active {
    display: none;
}
#menu-close {
    display: none;
}
#menu-close.active {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-button {
    display: flex;
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: var(--nav-highlight);
    border: none;
    color: white;
}

/* end */
.todaysdate {
    color: white;
    background-color: var(--nav-normal);
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: .8rem;
}
main section {
    background-color: rgba(var(--accent-lilac-rgb), 0.5);
    padding: 10px;
    margin: 5px;
}
.spotlight3 {
    display: none;
}
.spotlight1, .spotlight2 {
    border-width: 1px;
    border-style: double;
    border-color: var(--header);
}
.join {
    display: none;
}
footer {
    color: white;
    text-align: center;
}
footer div {
    max-width: 70%;
    margin: 0 auto;
}
footer h3 {
    margin: 0;
}
footer p {
    margin: 0;
    padding: 5px;
}
.location {
    text-decoration: none;
    color: white;
}
.loc-icon {
    width: 15px;
}
.site {
    text-decoration: none;
    color: white;
}