/* Stuff that effects the whole page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --header: #3B1F2B;
    --nav-normal: #AF9164;
    --nav-highlight: #8B2635;
    --accent-green: #254D32;
    --accent-lilac: #B48EAE;
    --accent-lilac-rgb: 180, 142, 174;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
/* end */
/* header */
header, footer {
    background-color: var(--header);
    padding-bottom: 10px;
}
.header {
    display: flex;
    flex-direction: row;
}
.branding {
    font-size: .6rem;
    color: white;
    margin: auto 0;
}
nav ul li {
    list-style: none;
    width: 100%;
    text-align: left;
}
.header-logo {
    width: 25%;
}
.socials {
    max-width: 150px;
    display: flex;
    margin: 15px;
}
.face-image{
    height: 32px;
    width: 35px;
    margin: auto 2px;
}
.link-image{
    height: 31px;
    width: 35px;
    margin: auto 2px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--nav-normal);
    padding: .5rem;
    text-align: center;
}
nav ul li a:hover {
    background-color: var(--nav-highlight);
    padding: 10px;
    border-radius: 25px;
}
/* hamburger menu stuff */
#navbar {
    display: none;
}
.links {
    display: none;
}
#navbar.active {
    display: flex;
    flex-direction: column;
    background-color: #3B1F2B;
    color: white;
}
#menu-open {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-open.active {
    display: none;
}
#menu-close {
    display: none;
}
#menu-close.active {
    display: block;
    margin: auto auto;
    font-size: 24px;
}
#menu-button {
    display: flex;
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: var(--nav-highlight);
    border: none;
    color: white;
}

/* end */
.todaysdate {
    color: white;
    background-color: var(--nav-highlight);
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 1rem;
}
#meet-greet {
    display: none;
}
#meet-greet.active {
    display: block;
    background-color: var(--nav-normal);
    text-align: center;
    margin: 20px;
    padding: .7rem;
    font-size: 1.2rem;
    color: var(--header);
}
main section {
    background-color: rgba(var(--accent-lilac-rgb), 0.5);
    padding: 5px;
    margin: 5px;
}
main hr {
    width: 100%;
}
.hero {
    padding: 0;
    position: relative;    
}
.heroimage {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
.hero-title {
    position: absolute;
    top: 5%;
	right: 50%;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    color: var(--header);
}
.hero-join-button {
    position: absolute;
    top: 75%;
	right: 8%;
	background: var(--nav-highlight);
    font-weight: bolder;
    color: white;
    border-radius: 25px;
	border: 1px solid rgba(0,0,0,.1);
	padding: .8rem;
    box-shadow: 5px 5px 5px #3B1F2B;
}
.event {
    text-align: center;
}
.event-description {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.newrelease {
    text-align: center;
    padding: 25px;
}
/* weather layout */
.weather {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
.weather-title {
    grid-row: 1;
    grid-column: 1/5;
    text-align: center;
}
.weather-icon {
    grid-row: 2;
    grid-column: 1/3;
    width: 90%;
    padding-left: 40px;
}
.temp {
    grid-row: 2;
    grid-column: 3/5;
    font-size: 4rem;
    padding-top: 30px;
    padding-left: 30px;
}
.weather-description {
    grid-row: 3;
    grid-column: 1/5;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid var(--header);
    padding-bottom: 5px;
}
.wind-speed {
    grid-row: 4;
    grid-column: 1/5;
    text-align: center;
    margin: 0;
}
.wind-chill {
    grid-row: 5;
    grid-column: 1/5;
    text-align: center;
    margin: 0;
    padding: 5px;
}
/* end */
.spotlight3 {
    display: none;
}
.spotlight1, .spotlight2 {
    border-width: 1px;
    border-style: double;
    border-color: var(--header);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 5px var(--header);
    padding: 20px;
}
.spotlight1-info, .spotlight1-info-2, 
.spotlight2-info, .spotlight2-info-2,
.spotlight3-info, .spotlight3-info-2
{
    padding: 5px;
    margin: 0;
}
.spotlight1-info-2 a, 
.spotlight2-info-2 a,
.spotlight3-info-2 a 
{
    text-decoration: none;
    color: black;
}
.join {
    display: none;
}
footer {
    color: white;
    text-align: center;
}
footer div {
    max-width: 100%;
    margin: 0 auto;
}
footer h3 {
    margin: 0;
}
footer p {
    margin: 0;
    padding: 5px;
}
.location {
    text-decoration: none;
    color: white;
}
.loc-icon {
    width: 15px;
}
.site {
    text-decoration: none;
    color: white;
}