/* Stuff that effects the whole page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --header: #3B1F2B;
    --nav-normal: #AF9164;
    --nav-highlight: #8B2635;
    --accent-green: #254D32;
    --accent-lilac: #B48EAE;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
/* end */
/* header */
header, footer {
    background-color: var(--header);
}

nav ul li {
    list-style: none;
    width: 100%;
    text-align: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--nav-normal);
    padding: .5rem;
}
nav ul li a:hover {
    background-color: var(--nav-highlight);
}
/* hamburger menu stuff */
#navbar {
    display: none;
}
#navbar.active {
    display: flex;
    flex-direction: column;
    background-color: #3B1F2B;
    color: white;
}
#menu-open {
    display: block;
}
#menu-open.active {
    display: none;
}
#menu-close {
    display: none;
}
#menu-close.active {
    display: block;
}
/* end */
.todaysdate {
    color: white;
    background-color: var(--nav-normal);
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: .8rem;
}
main section {
    background-color: var(--accent-lilac);
    padding: 10px;
    margin: 5px;
}
.spotlight3 {
    display: none;
}
.spotlight1, .spotlight2 {
    border-width: 1px;
    border-style: double;
    border-color: var(--header);
}
.join {
    display: none;
}
footer {
    color: white;
    text-align: center;
}
footer div {
    max-width: 70%;
    margin: 0 auto;
}
footer h3 {
    margin: 0;
}
footer p {
    margin: 0;
    padding: 5px;
}