@media (min-width: 650px) {
    .branding {
      width: 50%;
      font-size: 1.1rem;
    }
    nav ul li {
        text-align: center;
    }
    .spotlightbox {
        display: flex;
    }
    .spotlight1, .spotlight2 {
        width: 48%;
        margin:10px;
    }
  }