@media (min-width: 650px) {
    :root {
        --header: #3B1F2B;
        --nav-normal: #AF9164;
        --nav-highlight: #8B2635;
        --accent-green: #254D32;
        --accent-lilac: #B48EAE;
        --accent-lilac-rgb: 180, 142, 174;
    }
    .branding {
      width: 50%;
      font-size: 1.1rem;
    }
    nav ul li {
        text-align: center;
    }
    .hero-title {
        position: absolute;
        top: 10%;
        right: 40%;
        font-size: 1.7rem;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        color: var(--header);
      }
      .hero-join-button {
        position: absolute;
        top: 83%;
        right: 10%;
        background: var(--nav-highlight);
        font-weight: bolder;
        color: white;
        border-radius: 45px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 1.2rem;
        box-shadow: 5px 5px 5px #3B1F2B;
      }
    .large-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1;
    }
    .newrelease {
        grid-column: 1/4;
        grid-row: 2;
    }
    .spotlightbox {
        display: flex;
        grid-column: 1/4;
        grid-row: 3;
    }
    .spotlight1, .spotlight2 {
        width: 48%;
        margin:10px;
    }
    .join {
        display: flex;
        grid-column: 1/4;
        grid-row: 4;
        display: flex;
        flex-direction: column;
    }
    .join-button {
        background-color: var(--nav-highlight);
        font-weight: bolder;
        color: white;
        border-radius: 25px;
        border: 1px solid rgba(0,0,0,.1);
        padding: .8rem;
        margin: 1rem;
        box-shadow: 5px 5px 5px #3B1F2B;
    }
    .event {
        grid-column: 1/3;
        grid-row: 5;
    }
    .weather {
        grid-row: 5;
    }
    /* weather layout */
    .weather {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }
    .weather-title {
        grid-row: 1;
        grid-column: 1/5;
        text-align: center;
    }
    .weather-icon {
        grid-row: 2;
        grid-column: 1/3;
        width: 90%;
        padding-left: 40px;
    }
    .temp {
        grid-row: 2;
        grid-column: 3/5;
        font-size: 2rem;
        padding-top: 30px;
        padding-left: 30px;
    }
    .weather-description {
        grid-row: 3;
        grid-column: 1/5;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        border-bottom: 2px solid var(--header);
        padding-bottom: 5px;
    }
    .wind-speed {
        grid-row: 4;
        grid-column: 1/5;
        text-align: center;
        margin: 0;
    }
    .humidity {
        grid-row: 5;
        grid-column: 1/5;
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    /* end */
    .footer-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    .img-div {
        grid-column: 1/2;
    }
    .title-addy {
        grid-column: 2/3;
        margin: auto;
        text-align: left;
    }
    .other-div {
        grid-column: 3/4;
        margin: auto;
        text-align: center;
    }
  }