@media (min-width: 650px) {
    .branding {
      width: 50%;
      font-size: 1.1rem;
    }
    nav ul li {
        text-align: center;
    }
    .hero-title {
        position: absolute;
        top: 10%;
        right: 40%;
        font-size: 1.7rem;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        color: var(--header);
      }
      .hero-join-button {
        position: absolute;
        top: 83%;
        right: 10%;
        background: var(--nav-highlight);
        font-weight: bolder;
        color: white;
        border-radius: 45px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 1.2rem;
        box-shadow: 5px 5px 5px #3B1F2B;
      }
    .large-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1;
    }
    .newrelease {
        grid-column: 1/4;
        grid-row: 2;
    }
    .spotlightbox {
        display: flex;
        grid-column: 1/4;
        grid-row: 3;
    }
    .spotlight1, .spotlight2 {
        width: 48%;
        margin:10px;
    }
    .join {
        display: flex;
        grid-column: 1/4;
        grid-row: 4;
    }
    .event {
        grid-column: 1/3;
        grid-row: 5;
    }
    .weather {
        grid-row: 5;
    }
    .footer-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    .img-div {
        grid-column: 1/2;
    }
    .title-addy {
        grid-column: 2/3;
        margin: auto;
        text-align: left;
    }
    .other-div {
        grid-column: 3/4;
        margin: auto;
        text-align: center;
    }
  }