@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --redwood: #d66a7e;
    --wine: #3c171e;
    --yellow: #F7EE7F;
    --orange: #F1A66A;
    --salmon: #f7746b;
}
body {
    font-family: 'Ysabeau Office', sans-serif;
    margin: 0 auto;
}
/* navigation menu */
#ham-menu {
  display: none;
}
label[for="ham-menu"] {
  display: block;
  position: fixed;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: var(--salmon);
  border-radius: 10px;
  /* border: 2px solid var(--wine); */
}
.ham-menu {
  width: 75vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background-color: var(--yellow);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 15px;
  height: 50%;
}
.ham-menu > ul > li {
  font-size: 2.5rem;
  white-space: nowrap;
  letter-spacing: 0.11em;
  cursor: pointer;
  color: var(--wine);
  list-style: none;
  margin-top: 0;
}
.ham-menu > ul > li > a {
    text-decoration: none;
    color: var(--wine);
}
.ham-menu > ul > li > a:hover {
    color: var(--salmon);
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: var(--wine);
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--salmon);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}
#ham-menu:checked ~ div.full-page-color {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 12px;
  height: 2px;
  margin: 6px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--wine);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: var(--wine);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(12px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-12px) rotate(45deg);
}
.centre-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}
.active {
    color: var(--salmon);
}
/* navigation end */
/* header stuff */
.home-title {
    text-align: center;
    background-color: var(--salmon);
    margin: 0;
    padding: 15px;
}
.title {
  color: var(--wine);
  text-decoration: none;
  font-size: 2.5rem;
}
.order-button-header {
    display: none;
}
/* smoothie spotlight */
#smoothie-container {
    background-color: var(--yellow);
    margin: 5%;
    padding-bottom: 10px;
}
#smoothie-container img {
    width: 100%;
    position: relative;
}
#smoothie-container button {
  background-color: var(--salmon);
  border: 2px solid var(--wine);
  color: var(--wine);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  font-size: 1rem;
  margin: 10px;
}
#smoothie-container h2 {
    text-align: center;
}
#smoothie-container p {
    padding: 0 15px 15px 15px;
}
/* number of drinks */
.total-drinks {
  background-color: var(--yellow);
  margin: 5%;
  text-align: center;
  padding: 5px 15px 5px 15px;
}
/* location info */
.location-info {
  background-color: var(--redwood);
  margin: 5%;
}
.carlsbad-img {
  width: 100%;
}
.location-info p {
  padding: 0 15px 15px 15px;
}
.location-info h2 {
  text-align: center;
}
/* weather */
.weather {
  background-color: var(--yellow);
  margin: 5%;
  padding: 20px;
  text-align: center;
}
/* order */
.order-here {
  background-color: var(--redwood);
  margin: 5%;
}
.order-here img {
  width: 100%;
}
.order-here h2 {
  text-align: center;
  padding: 5px;
}
.order-here p {
  padding: 0 15px 10px 15px;
}
.order-button {
  margin: 0 10px 15px 15px;
  background-color: var(--yellow);
  border: 2px solid var(--wine);
  color: var(--wine);
  border-radius: 15px;
  padding: 10px;
  font-size: 1rem;
}

/* contact */
.contact {
  background-color: var(--yellow);
  margin: 5%;
  text-align: center;
  padding: 10px 15px 10px 15px;
}
.socials {
  max-width: 150px;
  margin: 25px 0 10px 0;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.face-image {
  height: 32px;
  width: 35px;
  margin: auto 10px;
}
.gram-image {
  height: 32px;
  width: 35px;
  margin: auto 10px;
}
.twit-image {
  height: 32px;
  width: 35px;
  margin: auto 10px;
}
.contact a {
  text-decoration: none;
  color: black;
}
/* footer */
.footer {
    color: var(--wine);
    text-align: center;
    background-color: var(--salmon);
    margin: 0;
    width: 100%;
}
.footer p {
    margin: 0;
    padding: 5px;
    font-weight: 500;
}
/* fresh form */
.fresh-main {
  padding: 10px;
}
.fresh-label {
  display: block;
  font-size: 1.2rem;
}
.fresh-input {
  display: block;
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: rgba(214,106,126, 0.3);
  border: none;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(214,106,126, 0.3);
  color: black;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(214,106,126, 0.3);
  color: black;
}
input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(214,106,126, 0.3);
  color: black;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(214,106,126, 0.3);
  color: black;
  resize: none;
}
.fresh-label {
  margin-top: .5rem;
}
/* style radio button */
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark1 {
  position: absolute;
  margin-top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--yellow);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: var(--salmon);
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: var(--salmon);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark1:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--yellow);
}
/* end */
/* style checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  margin-top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--yellow);
}
.container input:checked ~ .checkmark {
  background-color: var(--salmon);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  margin-left: 9px;
  margin-top: 5px;
  width: 5px;
  height: 10px;
  border: 2px solid #F7EE7F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* end */
#order-submit {
  margin: 10px 10px 10px 10px;
  background-color: var(--yellow);
  border: 2px solid var(--wine);
  color: var(--wine);
  border-radius: 15px;
  padding: 8px;
  font-size: 1.3rem;
  height: fit-content;
}
/* about page */
.about-main {
  margin: 5%;
}
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.aboutus-img {
  margin: auto;
  width: 100%;
}
.about-main h1, h2 {
  text-align: center;
}
.hour-about {
  text-align: center;
}
/* confirmation */
.bold {
  font-weight: 600;
}
#nutrition, #specIn {
  font-weight: 400;
}
.confirm-main h3 {
  font-size: 1.4rem;
}
.confirm-card {
  background-color: rgba(214,106,126, 0.3);
  padding: 30px;
  margin: 5% 10%;
}
.contact-line {
  text-align: center;
}
.thanks {
  font-size: 2.5rem;
}
.todaysdate, .estTime {
  text-align: center;
}
#option {
  text-align: center;
  font-size: 2rem;
  padding: 0 0;
  margin: auto 20%;
  border-bottom: 2px solid var(--wine);
}
#selected-fruits {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
#selected-fruits p {
  padding: 0 20px;
}
table {
  width: 90%;
  margin: auto;
}
table, td {
    border: 1px solid var(--wine);
}
td {
  padding: 6px;
}
th {
  padding: 6px;
}
thead, tfoot {
    background-color: var(--wine);
    color: #fff;
}
.movein {
  margin-left: 5%;
}
.resources a {
  text-decoration: none;
  color: var(--wine);
}