:root {
    --redwood: #d66a7e;
    --wine: #260b10;
    --yellow: #F7EE7F;
    --orange: #F1A66A;
    --salmon: #f7746b;
}
@media (min-width: 1050px){
    .ham-menu > ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 20px;
        height: 50%;
    }
    .ham-menu > ul > li {
        font-size: 5rem;
        white-space: nowrap;
        letter-spacing: 0.15em;
        cursor: pointer;
        color: var(--wine);
        list-style: none;
    }
    .ham-menu > ul > li:hover {
        color: var(--salmon);
    }
    /* header button */
    .order-button-header {
        position: absolute;
        margin: 0;
        top: 10%;
        left: 85%;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        font-size: 1.5rem;
    }
    .home-main {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        margin: 0;
    }
    #smoothie-container {
        grid-column: 1/4;
        grid-row: 1;
        margin: 0;
        margin: 40px 20px 0px 20px;
        padding: 0;
    }
    .total-drinks {
        grid-column: 4/5;
        grid-row: 1;
        margin: 0;
        margin: 40px 20px 0px 20px;
        padding: 0;
    }
    .location-info {
        grid-column: 2/5;
        grid-row: 2;
        margin: 0;
        margin: 40px 20px 0px 20px;
    }
    .weather {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        margin: 40px 20px 0px 20px;
        padding: 0;
    }
    .order-here {
        grid-column: 1/4;
        grid-row: 3;
        margin: 0;
        margin: 40px 20px 0px 20px;
    }
    .contact {
        grid-column: 4/5;
        grid-row: 3;
        margin: 0;
        margin: 40px 20px 0px 20px;
        padding: 0;
    }
    #smoothie-container img {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        justify-content: space-around;
    }
    #smoothie-container h2 {
        margin: auto 0;
    }
    .order-button-spotlight {
        font-size: 2rem;
        border-radius: 20px;
    }
    .location-info img {
        width: 50%;
        float: right;
        height: 100%;
    }
    .order-here img {
        width: 50%;
        float: left;
        padding-right: 15px;
        height: 100%;
    }
    .contact h3 {
        font-size: 1.5rem;
    }
    .footer {
        margin-top: 40px;
    }
    .aboutus-img {
        display: block;
        max-width: 60%;
        margin: auto auto;
    }
}