:root {
  --redwood: #d66a7e;
  --wine: #260b10;
  --yellow: #F7EE7F;
  --orange: #F1A66A;
  --salmon: #f7746b;
}
@media (min-width: 650px){
  .ham-menu > ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      padding: 20px;
      height: 50%;
  }
  .ham-menu > ul > li {
      font-size: 4rem;
      white-space: nowrap;
      letter-spacing: 0.15em;
      cursor: pointer;
      color: var(--wine);
      list-style: none;
  }
  .ham-menu > ul > li:hover {
      color: var(--salmon);
  }
  /* header button */
  .header {
      position: relative;
  }
  .order-button-header {
      position: absolute;
      margin: 0;
      top: 15%;
      left: 85%;
      background-color: var(--yellow);
      border: 2px solid var(--wine);
      color: var(--wine);
      border-radius: 15px;
      padding: 10px;
      display: flex;
      font-size: 1rem;
  }
  #smoothie-container button {
      border-radius: 20px;
      font-size: 1.5rem;
      margin: 0 10px 10px 10px;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
  .order-form {
    width: 80%;
    margin: auto;
    border: 5px double var(--wine);
    padding: 25px;
  }
  .order-button {
    border-radius: 20px;
    font-size: 1.5rem;
  }
  /* .fresh-label {
    width: 80%;
  } */
  .checkbox-fruit {
    display: flex;
    flex-wrap: wrap;
  }
  .checkbox-fruit .fruit-name {
    padding-right: 30px;
  }

}