:root {
    --redwood: #A54657;
    --wine: #3c171e;
    --yellow: #F7EE7F;
    --orange: #F1A66A;
    --salmon: #f7746b;
}
@media (min-width: 650px){
    .ham-menu > ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 20px;
        height: 50%;
    }
    .ham-menu > ul > li {
        font-size: 4rem;
        white-space: nowrap;
        letter-spacing: 0.15em;
        cursor: pointer;
        color: var(--wine);
        list-style: none;
    }
    .ham-menu > ul > li:hover {
        color: var(--salmon);
    }
    /* header button */
    .header {
        position: relative;
    }
    .order-button-header {
        position: absolute;
        margin: 0;
        top: 10%;
        left: 85%;
        background-color: var(--yellow);
        border: 2px solid var(--wine);
        color: var(--wine);
        border-radius: 15px;
        padding: 10px;
        display: flex;
        font-size: 1rem;
    }

}