
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.content {
    width: 1100px;
    margin: 0 auto;
}
header {
    background-color: pink;
    padding: 25px 50px;
    border-radius: 25px;
    display: flex;
    box-shadow: 5px 5px 10px hotpink;
}

header h1 {
    margin: 90px 10px 0 70px;
    text-align: center;
    font-size: 70px;
    color: black;
    text-shadow: 5px 5px 5px hotpink;
}
header img {
    box-shadow: 5px 5px 10px hotpink;
}
ul {
    list-style-type: circle;
    font-size: 22px;
  }

.one {
    background-color: pink;
    color: black;
    padding-left: 5px;
}
.two {
    background-color: hotpink;
    color: black;
    padding-left: 5px;
}
li a {
    color: black;
}
h2 {
    text-shadow: 5px 5px 5px hotpink;
    font-weight: bolder;
    border-bottom: 5px dotted hotpink;
}
main div p {
    border-top: 5px dotted hotpink;
    text-align: center;
}
footer {
    background-color: pink;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hotpink;
    text-align: center;
}
.copy {
    text-shadow: 5px 5px 4px hotpink;
    font-weight: bold;
}
footer p {
    text-shadow: 5px 5px 4px hotpink;
}