body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin: 50px 200px 0 200px; */
}
.content {
    width: 1100px;
    margin: 0 auto;
}
header {
    background-color: pink;
    padding: 25px 50px;
    border-radius: 25px;
    display: flex;
    box-shadow: 5px 5px 10px hotpink;
}

header h1 {
    margin: 90px 10px 0 70px;
    text-align: center;
    font-size: 70px;
    color: black;
    text-shadow: 5px 5px 5px hotpink;
}
header img {
    width: 350px;
    height: 300px;
    box-shadow: 5px 5px 10px hotpink;
}
ul {
    list-style-type: circle;
    font-size: 22px;
  }

.one {
    background-color: pink;
    color: black;
    padding-left: 5px;
}
.two {
    background-color: hotpink;
    color: black;
    padding-left: 5px;
}
li a {
    color: black;
}
h2 {
    text-shadow: 5px 5px 5px hotpink;
    font-weight: bolder;
    border-bottom: 5px dotted hotpink;
}
main div p {
    border-top: 5px dotted hotpink;
    text-align: center;
}
footer {
    background-color: pink;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hotpink;
    text-align: center;
}
.copy {
    text-shadow: 5px 5px 4px hotpink;
    font-weight: bold;
}
footer p {
    text-shadow: 5px 5px 4px hotpink;
}